/* color palette from <https://github.com/vuejs/theme> */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
    --vt-c-white: #ffffff;

    --vt-c-black: #181818;

    --vt-c-indigo: #2c3e50;


    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

    --vt-c-orange-dark: #f24e4a;
    --vt-c-red: #F64963;


    --main-font: "Outfit", sans-serif;
    --base-transtion: cubic-bezier(0.17, 0.67, 0.83, 0.67) 0.2s;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--vt-c-white);
    --color-text: var(--vt-c-text-light-1);
    --vt-c-black-soft: #eae9e9;
    --vt-c-black-mute: #f2f2f2;
    --vt-c-yellow: #f6cd8d;
    --vt-c-orange: #ec7f2c;
    --vt-c-green: #42b883;
    --scrollbar-color: #d0d0d0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-text: var(--vt-c-text-dark-2);
        --vt-c-black-mute: #282828;
        --vt-c-black-soft: #222222;
        --vt-c-yellow: #ffd79c;
        --vt-c-orange: #f38c76;
        --vt-c-green: #2fffb2;
        --scrollbar-color: var(--vt-c-text-dark-2);
    }
}

html {
    scrollbar-color: var(--scrollbar-color) transparent;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}


body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    font-size: 15px;
    font-family: var(--main-font);
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
